---
import Layout from "../../layouts/Layout.astro";
import DamierHero from "../../components/ui/DamierHero.astro";
---

<Layout title="Nos conseils et fiches - Slurpy"
    description="Découvrez nos conseils nutritionnels et fiches aliments pour atteindre vos objectifs alimentaires avec plaisir."
    keywords="conseils nutritionnels, fiches aliments, nutrition sportive, perte de poids, prise de masse, alimentation équilibrée, slurpy conseils, slurpy fiches"
    ogImage="/og-image-articles.png"
    ogType="website"
    >
    <section class="p-0">
        <header>
            <DamierHero title="Nos conseils et fiches" />
        </header>
    </section>
</Layout>