---
import ProtectedLayout from "../../layouts/ProtectedLayout.astro";
const isAuthenticated = Astro.locals.pb?.authStore?.isValid ?? false;
import DamierHero from "../../components/ui/DamierHero.astro";
---

<ProtectedLayout>
    {isAuthenticated ? (
        <section class="p-0">
            <header>
                <DamierHero title="Mon Profil" />
            </header>
            <form method="POST" action="auth/logout">
                <button type="submit">Se déconnecter</button>
            </form>
        </section>
        
    ) : (
        <p>Veuillez vous connecter pour voir votre profil.</p>
    )}

    
</ProtectedLayout>