---
import Layout from "../layouts/Layout.astro"
import DamierHero from "../components/ui/DamierHero.astro"
---

<Layout title="Contact | ">
    <section class="p-0">
        <header>
            <DamierHero title="Contactez-nous" />
        </header>
        
    </section>

    <section class="content-container py-16">
        <h2 class="text-3xl mb-6">Nous contacter</h2>
        <p class="mb-4">Vous pouvez nous contacter via les moyens suivants :</p>
        <ul class="list-disc list-inside mb-4">
            <li>Email : <a href="mailto:contact@slurpy.com" class="text-primary hover:underline">contact@slurpy.com</a></li>
        </ul>
    </section>
</Layout>