---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="">Slurpy Slurpou</h1>
	<p class="text-center">Welcome to the Slurpy Slurpou website! This is a place where you can find all the latest news and updates about our delicious slurpou dishes. Stay tuned for new recipes, special offers, and more!</p>
	<a href="" class="btn">Voir les recettes.</a>
	<a href="" class="btn-outline">Voir les recettes.</a>
</Layout>
