---
import Layout from '../layouts/Layout.astro';
import Bananelangue from '../assets/personnages/languebanane.webp';
import PriseDeMasse from '../assets/personnages/prise-de-masse.webp';
import PerteDePoids from '../assets/personnages/perte-de-poids.webp';
import MeMaintenir from '../assets/personnages/me-maintenir.webp';
import ComposantObjectif from '../components/ui/ComposantObjectif.astro';
---

<Layout>
	<section>
		
		
		<header class="text-center">
			<h1 class="">Vos objectifs alimentaires à portée de <span class="text-accent1">langue</span> !!</h1>
			<div>
			<img src={Bananelangue.src} alt="Bananelangue" class="w-full scale-105 h-full object-contain absolute -left-20 mt-16" />
		</div>
		</header>
		<div class="flex flex-col justify-center items-center">
			<p class="py-8 text-center">Adieu la frustration. Profitez de nos recettes gourmandes et de conseils nutritionnels experts pour nourrir votre progression avec plaisir. </p>
			
			<a href="#" class="btn my-6">Commencer l'aventure</a>
		</div>
	</section>

	<section class="green-section mt-130">
		<header class="">
			<h2 class="text-center ">Choisis ton objectif santé </h2>
		</header>

		<ul class="ul-flex  gap-16">
			<li class="">
				<ComposantObjectif
					title="Prise de masse"
					description="Optimise ta prise de masse avec des recettes riches en proteines et en calories."
					hashtag="#priseDeMasse"
					character={PriseDeMasse}
				/>
			</li>
			<li class="">
				<ComposantObjectif
					title="Perte de poids"
					description="Atteins ton objectif de perte de poids avec des recettes equilibrees et gourmandes."
					hashtag="#perteDePoids"
					character={PerteDePoids}
				/>
			</li>
			<li class="">
				<ComposantObjectif
					title="Maintien de poids"
					description="Garde un poids stable avec des conseils nutritionnels adaptes a ton quotidien."
					hashtag="#maintienDePoids"
					character={MeMaintenir}
				/>
			</li>
		</ul>
	</section>

	<section>
		<header>
			<h2 class="text-center">Nos recettes "slurps"</h2>
		</header>
	</section>

	<section>
		<header class="text-content">
			<h2 class="text-center">Nos conseils nutritionnels</h2>
			<p class="text-center">Le secret de vos records est dans l'assiette. Découvrez comment allier nutrition sportive et gourmandise sans compromis</p>
		</header>

		<ul>

		</ul>

		 
	</section>
</Layout>
