---
import DamierHero from "../../components/ui/DamierHero.astro"
import Layout from "../../layouts/Layout.astro"
---

<Layout>
    <section class="p-0">
        <header>
            <DamierHero title="Nos recettes" />
        </header>
    </section>
</Layout>