<div class="section py-12 h-20 md:py-16 lg:py-18 bg-accent1 flex items-center justify-center gap-4 md:gap-8 lg:gap-12 xl:gap-16 font-barlow uppercase">
            <p class="text-xs md:text-sm lg:text-lg xl:text-xl">Rejoignez l'aventure slurpy dès maintenant </p>
            <a href="/auth/register" class="btn font-afacad md:btn">Créer mon compte</a>
</div>