---
import Liquidwave from "../../assets/svgs/liquidwave.svg";
---

<div
  class="relative left-1/2 -top-10 w-screen -translate-x-1/2 overflow-hidden"
>
  <Liquidwave class="block h-13 w-full scale-x-105 origin-center md:h-18" />
</div>
